@use '../../assets/styles/variables.scss' as v;
@use '../../assets/styles/mixins.scss' as m;

.day {
  font: 400 16px/22px 'Open Sans';
  color: v.$mainColor;
  width: 145px;

  &__date {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__name {
    font: 600 20px/27px 'Open Sans';
  }

  .weather {
    @include m.flex(space-between);
    font: 600 24px/29px 'Open Sans';

    &__icon {
      width: 56px;
      height: 56px;
    }

    &__temperature {
      display: flex;
      flex-direction: column;
    }

    &__min {
      color:v.$darkGrey;
    }
  }
}
