@use '../../assets/styles/variables.scss' as v;
@use '../../assets/styles/mixins.scss' as m;

.container {
    @include m.flex(space-evenly, flex-end)
}

.current {
  @include m.flex(center, center, column);
  
  &__date {
    font: v.$font-m;
    color: v.$mainColor;
  }

  &__icon {
    width: 220px;
  }

  &__temperature {
    font:400 70px/85px 'Open Sans';
    color: v.$mainColor;
  }
}

.params {
  list-style-type: none;
  padding: 0;
  color: v.$lightGrey;
  font: v.$font-sm;
  min-width: 115px;

  &__item:not(:last-child) {
    margin-bottom: 16px;
  }
}
