@use '../../assets/styles/variables.scss' as v;
@use '../../assets/styles/mixins.scss' as m;

.container {
    @include m.flex(space-evenly, flex-end)
}

.current {
  @include m.flex(center, center, column);

  &__icon {
    width: 220px;
  }

  &__temperature {
    font:400 70px/85px 'Open Sans';
    
    &.light {
      color: v.$mainColor;
    }

    &.dark {
      color: v.$mainLightColor;
    }
    
  }
}

.params {
  list-style-type: none;
  padding: 0;
  color: v.$lightGrey;
  font: v.$font-sm;
  min-width: 115px;

  &__item:not(:last-child) {
    margin-bottom: 16px;
  }
}

.dayPeriods {
  display: flex;
}

.carousel {
  display: none;
}

@media (max-width:1240px) {
  .current {
    &__icon {
      width: 180px;
    }
  }
}

@media (max-width: 990px){
  .container {
    display: grid;
    grid-template-areas: "curr curr"
                          "params days";
    grid-row-gap: 30px;
  }

  .current {
    grid-area: curr;
  }

  .params {
    grid-area: params;
  }
}

@media (max-width: 767px) {
  .current {
    &__icon {
      width: 150px;
    }

    &__temperature {
      font-size: 45px;
      line-height: 60px;
    }
  }
  .dayPeriods{
    display: none;
  }
  .carousel {
    display: block;
  }
}