@use '../../assets/styles/variables.scss' as v;
@use '../../assets/styles/mixins.scss' as m;

.header {
  margin-bottom: 31px;
  @include m.flex(space-between);

  &__location {
    font: v.$font-m;
    
    &.light{
      color: v.$mainColor;
    }
  
    &.dark {
      color: v.$mainLightColor;
    }
  }

    &__btn {
      padding: 10px 20px;
      border: none;
      border-radius: 12px;
  
      &.light {
        background-color: v.$mainColor;
        color: v.$mainLightColor;
      }
  
      &.dark {
        background-color: v.$mainLightColor;
        color: v.$mainColor;
      }
    }
}
