@use './assets/styles/mixins.scss' as m;
@use './assets/styles/variables.scss' as v;

.App {
  width: 100%;
  min-height: 100vh;
  transition: background-color 0.4s ease-in-out;

  &__content {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
  }

  &__container {
    max-width: 1240px;
    height: 100%;
    margin: 0 auto;
  }

  &__futureDays {
    @include m.flex(space-evenly);
    flex-wrap: wrap;
    gap: 30px;
  }

  &.light {
    background-color: v.$mainLightColor;
  }

  &.dark {
    background-color: v.$mainColor;
  }

  &__btn {
    padding: 5px 10px;
    border:none;
    border-radius: 12px;

    &.light {
      background-color: v.$mainColor;
      color: v.$mainLightColor;
    }

    &.dark {
      background-color: v.$mainLightColor;
      color: v.$mainColor;
    }
  }
}
