$mainColor: #080338;
$whiteCardGradient: linear-gradient(162.91deg,
  rgba(0, 0, 0, 0.03) -1.68%,
  rgba(255, 255, 255, 0.093125) 127.54%,
  rgba(255, 255, 255, 0.112968) 127.56%,
  rgba(255, 255, 255, 0.111191) 127.57%,
  rgba(255, 255, 255, 0.15) 127.58%);
$border: #ccc;
$lightGrey: #c0c0c0;
$darkGrey: #686868;
$font-sm: 400 18px/25px 'Open Sans';
$font-m: 400 24px/33px 'Open Sans';
